# Files to be excluded from the repo 

*.pdf
*.txt
*.npy

# Folders

__pycache__/

# Random sh*t

*.DS_Store

# Including folders containing figures, and text files with output

!*/figures/*.png
!output.txt